.icon-button {
    background-color: transparent;
    border: none;
    position: relative;
}

.icon-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 900px) {
    .nav-button {
        display: none;
    }
}