.contact-group {
    flex-direction: column;
    gap: 0.5em;
    padding-inline: 1em;
    border-bottom: none;
}

.contact-group > input {
    height: 2em;
    border-radius: 5px;
}

@media (min-width: 900px) {
    .contact .form {
        background-color: #edefee;
        padding-inline: 1em;
        border-radius: 5px;
    }

    .contact .form > h2 {
        display: block;
        margin-top: 1rem;
        text-align: center;
    }

    .contact .form-companion {
        padding-block: 2em;
    }

    .contact .reservation-img-container {
        display: none;
    }

    .contact-group {
        margin-bottom: 0;
    }

}