body {
  font-family: 'Karla';
  background-color: #fff;
}

.main-section:nth-child(odd) {
  background-color: #495E57;
}

.title {
  margin: 0;
  color: #F4CE14;
  font-family: 'Markazi Text';
  font-size: 64px;
  font-weight: 500;
}

.sub-title {
  margin: 0;
  color: #edefee;
  font-family: 'Markazi Text';
  font-size: 40px;
  font-weight: 400;
}

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-left p {
  margin: 0;
  color: #edefee;
}

.main-img {
  max-width: 100%;
}

.main-section {
  padding: 1rem;
}

.main-img-container {
  margin-left: 2rem;
  aspect-ratio: 4/3;
  max-width: 35%;
  border-radius: 16px;
  overflow: hidden;
}

.main-section > .intro-main {
  display: flex;
  min-height: 10rem;
  justify-content: space-between;
}



@media (min-width: 900px) {
  .main-section {
    padding-left: 7em;
    padding-right: 7em;
  }

  .main-left {
    max-width: 20em;
    justify-content: center;
    gap: 2em;
  }

  .title {
    font-size: 4em;
  }
  
  .sub-title {
    font-size: 2.5em;
  }

  .main-left > p {
    font-size: 1em;
  }

  .main-section:nth-child(1) {
    position: relative;
  }

  .main-img-container {
    aspect-ratio: 3/4;
    width: 18em;
    position: absolute;
    top: 2em;
    right: 7em;
  }
}

@media (min-width: 1400px) {
  .main-section {
    padding-left: 20em;
    padding-right: 20em;
  }

  .main-left {
    max-width: 35em;
  }

  .title {
    font-size: 5em;
  }
  
  .sub-title {
    font-size: 3em;
  }

  .main-left > p {
    font-size: 1.5em;
  }

  .main-img-container {
    right: 20em;
  }
}