.main-section:nth-child(odd) {
  background-color: #495E57;
}

.title {
  margin: 0;
  color: #F4CE14;
}

.sub-title {
  margin: 0;
  color: #fff;
}

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-left p {
  margin: 0;
  color: #fff;
}

.main-img {
  max-width: 100%;
}

.main-section {
  padding: 1rem;
}

.main-img-container {
  margin-left: 2rem;
  aspect-ratio: 4/3;
  max-width: 35%;
  border-radius: 16px;
  overflow: hidden;
}

.main-section > div {
  display: flex;
  padding-top: 1rem;
  min-height: 10rem;
}

.dish {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #edefee;
}

.dish-name {
  margin-bottom: 0.5rem;
}

.dish-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 18%;
  align-self: center;
  aspect-ratio: 1;
  overflow: hidden;
}

.dish-description {
  margin: 0;
  max-height: 2.8rem;
  overflow: hidden;
}

.dish-price {
  font-weight: 600;
  margin-top: 0.5rem;
}
