.main-section:nth-child(odd) {
  background-color: #495E57;
}

.title {
  margin: 0;
  color: #F4CE14;
}

.sub-title {
  margin: 0;
  color: #fff;
}

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-left p {
  margin: 0;
  color: #fff;
}

.main-img {
  
}

.main-section {
  padding: 1rem;
}

.main-section img {
  width: 8rem;
}

.main-img-container {
  margin-left: 2rem;
  height: 8rem;
  width: 26rem;
  border-radius: 16px;
  overflow: hidden;
}

.main-section > div {
  display: flex;
  padding-top: 1rem;
}
